<div *ngIf="active; else elseBlock">
  <!--Content to render when condition is true.-->

  <mat-card fxFlex="0 0 calc(100%)">
    <div class="json-schema-form">
      <json-schema-form
        [schema]="schema"
        [data]="data"
        language="it"
        framework="material-design"
        (onSubmit)="submit($event)"
        [layout]="form"
        loadExternalAssets="true">
        <!--  [options]="yourJsonFormOptions"
          [widgets]="yourCustomWidgets"
          (onChanges)="yourOnChangesFn($event)"
          (isValid)="yourIsValidFn($event)"
          (validationErrors)="yourValidationErrorsFn($event)"
        -->
      </json-schema-form>
    </div>
  </mat-card>

</div>
<ng-template #elseBlock>
  <!--Content to render when condition is false.-->
  <span class="mat-body">no data</span>
</ng-template>
