<!-- Card -->
<div class="card text-white bg-secondary text-center mb-2">
  <div class="card-header m-0 p-1"><span class="fas fa-circle fa-2x"></span> Nodi</div>
    <div class="card-body m-0 p-2">
        <!--<h4 class="card-title display-3">6</h4>-->
          <h1 class="card-text display-5">6</h1>
    </div>
</div>
<!-- Card -->

<!-- Card -->
<div class="card text-white bg-secondary text-center">
  <div class="card-header m-0 p-1"><span class="fas fa-draw-polygon fa-2x"></span> Archi</div>
    <div class="card-body m-0 p-2">
        <!--<h4 class="card-title display-3">6</h4>-->
          <h1 class="card-text display-5">5</h1>
    </div>
</div>
<!-- Card -->
